/* == Minimal reset for a simple document == */
html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

/* == Page styling == */
body {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-weight: 300;
	color: #333;
	background-color: #ddd;
}

/* == The organism container == */
#widget {
	background-color: #fff;
	width: 410px;
	padding: 0 0 2.0rem;
	border-radius: 14px;
	margin: 4.2rem auto 0;
	box-shadow: 0 0 14px #666;
	transition-duration: 400ms;
}
#widget:hover {
	transform: scale(1.02);
	box-shadow: 0 0 28px #666;
	/* Using Material Design principles
    to make the card appear to move
    towards the viewer rather than
    simply getting bigger */
}

/* == The organism children == */
#widget h1 {
	font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 3.2rem;
	text-align: center;
	background-color: #eee;
	padding: 1.2rem 0;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}
#widget dl {
	/* Using grid to layout the definition list */
	display: grid;
	grid-template-columns: 150px 200px;
	width: 350px;
	font-size: 1.2rem;
	line-height: 2;
	margin: 1.7rem auto 0;
}
#widget dt, #widget dd {
	padding: 0 0 1px 20px;
	border-bottom: 1px dotted #888;
}
#widget dt:first-of-type, #widget dd:first-of-type {
	border-top: 1px dotted #888;
}
.today, .today + dd {
	/* This class is added by JavaScript */
	font-weight: 500;
	color: #000;
}

/* == The document footer == */
footer {
	text-align: center;
	font-size: 0.8rem;
	margin: 2.0rem 0;
}